@font-face {
    font-family: 'Material Design Iconic Font';
    src: url(https://cdn.rawgit.com/zavoloklom/material-design-iconic-font/92dc4f51443d6dfb2a428004a34e3719086d85a5/fonts/Material-Design-Iconic-Font.eot) format('embedded-opentype'), url(https://cdn.rawgit.com/zavoloklom/material-design-iconic-font/92dc4f51443d6dfb2a428004a34e3719086d85a5/fonts/Material-Design-Iconic-Font.woff) format('woff'), url(https://cdn.rawgit.com/zavoloklom/material-design-iconic-font/92dc4f51443d6dfb2a428004a34e3719086d85a5/fonts/Material-Design-Iconic-Font.ttf) format('truetype'), url(https://cdn.rawgit.com/zavoloklom/material-design-iconic-font/92dc4f51443d6dfb2a428004a34e3719086d85a5/fonts/Material-Design-Iconic-Font.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}

[class*=" md-"],
[class^=md-] {
    display: inline-block;
    font: normal normal normal 14px/1'Material Design Iconic Font';
    font-size: inherit;
    speak: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.md-close:before {
    content: "\f29a"
}
